.nav-tabs .nav-link{
	font-family: 'Abhaya Libre', serif;
	font-size: 16px;
	color: #3b4354;
}

/* ==========================================================================
   User Section
   ========================================================================== */
.followers{

	.card-profile .media {
		margin-top: 0;
	}
	.card-profile .media .media-left {
		padding-right: 15px;
	}
	.card-profile .media .media-object {
		width: 48px;
		padding: 2px;
		border: 2px solid #eaecf0;
	}
	.media-object {
		display: block;
	}
	.media-body {
		display: table-cell;
		vertical-align: top;
		width: 10000px;
	}
	.media-heading {
        font-family: 'Abhaya Libre', serif;
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 16px;
		font-weight: 700;
		color: #3b4354;
	}
	.media-usermeta {
        font-family: 'Abhaya Libre', serif;
		margin-top: 4px;
		color: #909bb1;
	}
	.media-usermeta i {
		display: inline-block;
		margin-right: 5px;
		vertical-align: baseline;
	}
	.card-options {
		position: absolute;
		top: 15px;
		right: 20px;
		padding: 0;
		margin: 0;
	}
	.card-options > li {
		display: block;
		float: left;
		list-style: none;
	}
	.card-options > li > a {
		color: #bdc3d1;
		-webkit-transition: all 0.2s ease-out 0s;
		-o-transition: all 0.2s ease-out 0s;
		transition: all 0.2s ease-out 0s;
	}
	.card-options > li > a > i {
		display: inline-block;
		vertical-align: middle;
	}
	.people-info .row {
		margin: 0;
	}
	.people-info .col-sm-4 {
		padding: 0;
		font-size: 12px;
	}
	.people-info .col-sm-4:first-child > .info-group {
		margin-left: 0;
	}
	.people-info .info-group {
        font-family: 'Abhaya Libre', serif;
		font-size: 14px;
		padding: 15px;
		background-color: #f9fafb;
		margin-left: 1px;
	}
    .people-info .info-group label {
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
        font-family: 'Abhaya Libre', serif;
		font-weight: 700;
		font-size: 11px;
		letter-spacing: .5px;
		color: #3b4354;
	}
	.people-info .row + .row {
		margin-top: 1px;
	}
	.people-info h4 {
        font-family: 'Abhaya Libre', serif;
		margin: 9px 0 8px;
		font-weight: 500;
		color: #259dab;
		font-size: 15px;
	}

}



