/* ==========================================================================
   Header Section Start
   ========================================================================== */

   .header.remove-gap {
    padding-top: 0;
	overflow: hidden;
   } 
   
   .header.container-fluid{
    padding-left: 0;
    padding-right: 0;
   }	
   
   .header.no-gap {
	margin: 0;
   }  

   .header div.col-md-4, .header div.col-md-6{
	 margin: 0 !important;
	 padding: 0 !important;
   }
   
.header {  
	
   .creative-post {
     float: left;
     position: relative;
     width: 100%;
   }
   
   .creative-img {
     float: left;
     width: 100%;
     position: relative;
   }
   
   .creative-post img.bg {
	 height: 343 !important;
	 width: 100%;
	 -webkit-transition: all .4s ease;
	  -moz-transition: all .4s ease;
	   -ms-transition: all .4s ease;
	    -o-transition: all .4s ease;
		 transition: all .4s ease;
    }
	.creative-post:hover img.bg{
	  -webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		 -o-transform: scale(1.1);
		  transform: scale(1.1);
	}   
	
	.fancy-post-overlay {
	  background: rgba(7, 7, 7, 0.46) none repeat scroll 0 0;
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	}

	.t-overlay-text {
	  margin: 0 auto;
	  color: #fff !important;

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	}
	.t-overlay-textt {
	  display: inline-block;
	  margin: 0 auto;
	  color: #fff !important;
	}
	.small-block-padding {
	  padding: 5px 16px 16px 16px;
	}
	.single-block-padding {
	  padding: 36px 36px 36px 36px;
	}
	.t-entry {
	  width: 100%;
	}
	.tmb-overlay-text-left{
	  text-align: left;
	}
	.t-entry-meta{
      font-family: 'Abhaya Libre', serif;
	  display: inline-block;
	  padding: 10px;
	  margin-left: 10px;
	  line-height: 1.75;
	  font-size: 15px;
	  color: #fff !important;
	}
	.bookmark i{
	  display: inline-block;
	  padding: 10px;
	  margin-left: 10px;
	  line-height: 1.75;
	  font-size: 15px;
	  color: #fff !important;
	}
	.author{
	  display: inline-block;
	  position: relative;
	  top: 65px;
	  padding: 5px 16px 16px 36px;
	}
	.font-weight-700{
	  font-weight: $font-weight-bold !important;
	}
	.t-entry-title{
      font-family: 'Montserrat', sans-serif;
	  font-size: 20px;
	}
	.author img{
	  width: 35px;
	  height: 35px;
	}
	.meta {
	  float: right;
	  width: 100%;
	}
	ul.meta {
	  display: inline-block;
	  list-style: outside none none;
	  margin: 0 0 15px;
	  padding: 0;
	}
	.meta li {
	  color: #ffffff !important;
	}
	ul.meta li {
      font-family: 'Abhaya Libre', serif;
	  color: #a0a0a0;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: 700 !important;
	  padding-right: 20px;
	  text-transform: uppercase;
	}
	.author p.lead{
      font-family: 'Montserrat', sans-serif;
	  color: #fff !important;
	  position: relative;
	  top: -39px;
	  left: 45px;
	  font-weight: 700 !important;
	  font-size: 15px;
	}
	.author p.read{
      font-family: 'Abhaya Libre', serif;
	  color: #fff !important;
	  position: relative;
	  top: -50px;
	  left: 45px;
	  font-weight: 200 !important;
	  font-size: 12px;
	}
	.author p.read .heavy{
	  font-weight: 700 !important;
	}	
 
}

@media(max-width:767px) {
	.author{
	  display: inline-block;
	  position: relative;
	  top: 35px !important;
	  padding: 5px 16px 16px 36px;
	}
	.author img{
	  width: 25px;
	  height: 25px;
	}
	ul.meta {
	  display: inline-block;
	  list-style: outside none none;
	  margin: 0 0 5px !important;
	  padding: 0;
	}
	.header ul.meta li {
	  padding-right: 5px !important;
	  font-size: 11px !important;
	}	
}


/* ==========================================================================
   Posts Section Start
   ========================================================================== */
   
.posts {  
   
	.fancy-title {
		float: left;
		margin-top: 70px;
		margin-bottom: 50px;
		text-align: center;
		width: 100%;
	}   
	.fancy-title-center {
		display: inline-block;
		padding: 0 30px;
		position: relative;
	}
	.fancy-title-center h2 {
      font-family: 'Montserrat', sans-serif;
	  color: $mint-title !important;
	  display: inline-block;
	  font-size: 20px;
	  font-weight: 800;
	  margin: 0;
	  width: 100%;
	}
	
   .creative-post {
     margin-top: 20px;
     float: left;
     position: relative;
     width: 100%;
   }
   
   .creative-img {
     float: left;
     width: 100%;
     position: relative;
   }
   
   .creative-post img.bg {
	 height: 343 !important;
	 width: 100%;
	 -webkit-transition: all .4s ease;
	  -moz-transition: all .4s ease;
	   -ms-transition: all .4s ease;
	    -o-transition: all .4s ease;
		 transition: all .4s ease;
    } 
	
	.fancy-post-overlay {
	  background: rgba(7, 7, 7, 0.46) none repeat scroll 0 0;
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	 -webkit-transition: all .4s ease;
	  -moz-transition: all .4s ease;
	   -ms-transition: all .4s ease;
	    -o-transition: all .4s ease;
		 transition: all .4s ease;
	}
	.creative-post:hover img.bg, .fancy-post-overlay:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
	} 
	.t-overlay-text {
	  margin: 0 auto;
	  color: #fff !important;

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	}
	.t-overlay-textt {
	  display: inline-block;
	  margin: 0 auto;
	  color: #fff !important;
	}
	.small-block-padding {
	  padding: 5px 16px 16px 16px;
	}
	.single-block-padding {
	  padding: 36px 36px 36px 36px;
	}
	.t-entry {
	  width: 100%;
	}
	.tmb-overlay-text-left{
	  text-align: left;
	}
	.t-entry-meta{
      font-family: 'Abhaya Libre', serif;
	  display: inline-block;
	  padding: 10px;
	  margin-left: 10px;
	  line-height: 1.75;
	  font-size: 15px;
	  color: #fff !important;
	}
	.bookmark i{
	  display: inline-block;
	  padding: 10px;
	  margin-left: 10px;
	  line-height: 1.75;
	  font-size: 15px;
	  color: #fff !important;
	}
	.author{
	  display: inline-block;
	  position: relative;
	  top: 55px;
	  padding: 5px 16px 16px 36px;
	}
	.font-weight-700{
	  font-weight: 700 !important;
	}
	.t-entry-title{
      font-family: 'Montserrat', sans-serif;
	  font-size: 20px;
	}
	.author img{
	  width: 35px;
	  height: 35px;
	}
	.meta {
	  float: right;
	  width: 100%;
	}
	ul.meta {
	  display: inline-block;
	  list-style: outside none none;
	  margin: 0 0 15px;
	  padding: 0;
	}
	.meta li {
	  color: #ffffff !important;
	}
	ul.meta li {
      font-family: 'Abhaya Libre', serif;
	  color: #a0a0a0;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: $font-weight-bold !important;
	  padding-right: 5px;
	  text-transform: uppercase;
	}
	.author p.lead{
      font-family: 'Montserrat', sans-serif;
	  color: #fff !important;
	  position: relative;
	  top: -39px;
	  left: 45px;
	  font-weight: $font-weight-bold !important;
	  font-size: 15px;
	}
	.author p.read{
      font-family: 'Abhaya Libre', serif;
	  color: #fff !important;
	  position: relative;
	  top: -50px;
	  left: 45px;
	  font-weight: 200 !important;
	  font-size: 12px;
	}
	.author p.read .heavy{
	  font-weight: $font-weight-bold !important;
	}	
 
}

@media(max-width:767px) {
	.author{
	  display: inline-block;
	  position: relative;
	  top: 35px !important;
	  padding: 5px 4px 16px 36px !important;
	}
	.author img{
	  width: 15px;
	  height: 15px;
	}
	.author p.lead{
	  color: #fff !important;
	  position: relative;
	  top: -39px;
	  left: 45px;
	  font-weight: 700 !important;
	  font-size: 12px;
	}
	.author p.read{
	  color: #fff !important;
	  position: relative;
	  top: -56px;
	  left: 45px;
	  font-weight: 200 !important;
	  font-size: 9px;
	}	
	ul.meta {
	  display: inline-block;
	  list-style: outside none none;
	  margin: 0 0 0px !important;
	  padding-right: 5px !important;
	}
	ul.meta li {
	  padding-right: 2px !important;
	  font-size: 11px !important;
	}	
}

