.tr-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;

	.tr-post {
		position: relative;
	}
	.entry-header {
		position: relative;
		overflow: hidden;
	}
	.entry-header:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		top: 0;
		left: 0;
		opacity: 0;
	}
	.entry-thumbnail {
		z-index: -1;
	}
	.tr-post .entry-header img {
		width: 100%;
		height: 200px;
	}	
	.tr-post .post-content {
		font-size: 14px;
		color: #88898a;
		line-height: 24px;
		margin-top: 20px;
	}
	.post-content .author-post {
		width: 55px;
		margin-top: -45px;
		margin-left: 15px;
		margin-bottom: 5px;
		position: relative;
		z-index: 1;
	}	
	.post-content .author-post img {
		width: 50px;
		height: 50px;
		border: 5px solid #fff;
	}

	.entry-meta, .entry-meta a{
      font-family: 'Abhaya Libre', serif;
		font-size: 13px;
		color: #858686 !important;
		font-weight: 500;
	}
	.entry-meta {
		overflow: hidden;
	}
	.entry-meta ul, .feed ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}	
	.entry-meta>ul>li {
		margin-right: 30px;
		position: relative;
	}
	.entry-meta ul li {
		float: left;
	}
	.entry-meta>ul>li+li:before {
		position: absolute;
		content: "";
		top: 50%;
		left: -15px;
		width: 5px;
		height: 5px;
		margin-top: -3px;
		border-radius: 100%;
		background-color: #c8cacc;
	}
	.entry-meta li ul li:first-child {
		margin-right: 10px;
	}
	h2 {
	  line-height: 0.8 !important;
	  margin-bottom: 20px !important;
	}
	a.entry-title{
      font-family: 'Montserrat', sans-serif;
      font-weight: $font-weight-bold;
	  color: $mint-color !important;
	  margin-top: 0px !important;
	  padding-top: 0px !important;
		font-size: 15px;
		line-height: 0 !important;
	}
	p{
	 font-family: 'Abhaya Libre', serif;
	 font-size: 16px;
	}
	.read-more {
		margin-top: 25px;
		overflow: hidden;
	}
	.continue-reading a {
	 font-family: 'Abhaya Libre', serif;
		font-size: 12px;
		color: #858686 !important;
		text-transform: uppercase;
	}
	.continue-reading i {
		font-size: 18px;
		margin-left: 10px;
		float: right;
		margin-top: 3px;
	}
	.feed li {
	 font-family: 'Abhaya Libre', serif;
		font-size: 14px;
		float: left;
		color: #858686 !important;
		margin-right: 10px;
	}
	.feed li i{
		margin-right: 3px;
	}
	.feed li a {
	 font-family: 'Abhaya Libre', serif;
		color: #858686 !important;
		padding: 5px;
	}	
}

.tr-ad {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}
.ad-before{
    position: relative;
}
.tr-ad img{
    width: 100%;
}
.ad-before:after {
    position: absolute;
    content: "AD";
    right: 0;
    top: 0px;
    width: 25px;
    height: 20px;
    padding: 5px;
	font-family: 'Abhaya Libre', serif;
    font-size: 12px;
    color: #fff;
    background-color: $mint-color;
    font-weight: 700;
}

