/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */

header.page-post-2 {
    // NOTE: Background images are set within the HTML using inline CSS!
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/blog/5.jpg') no-repeat center center fixed;
  background-position: center center;
    @include background-cover;
    background-attachment: scroll;
  color: #fff;
  height: 65vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

    .post-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 767px) {
            padding: 150px 0;
        }
	
		p.entry-meta {
			color: #adaeb3;
            font-family: 'Abhaya Libre', serif;
			font-size: 13px;
			font-style: normal;
			letter-spacing: 1px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}	
		p.entry-meta a {
			border: none;
			color: $mint-color;
			font-style: normal;
		}		
        h1 {
		  font-family: 'Montserrat', sans-serif;
		  font-weight: $font-weight-bold;
		  text-align: center;
		  color: #fff;
		  letter-spacing: 1px;
          font-size: 55px;
        }
        @media only screen and (max-width: 768px) {
            h1 {
                font-size: 25px;
            }
            .subheading {
                font-size: 20px;
            }
        }
    }
}

/* ==========================================================================
   Header Avatar Section
   ========================================================================== */
.header-avatar {
    margin-bottom: -110px;
    position: relative;
    top: -40px;
    text-align: center;
	
	img {
		border: 7px solid #f5f5f6;
		border-radius: 50%;
		float: none;
		height: 80px;
		width: 80px;
	}
	p {
		color: #adaeb3;
        font-family: 'Abhaya Libre', serif;
		font-size: 16px;
		font-weight: $font-weight-bold;
		letter-spacing: 1px;
		margin-bottom: 0;
		text-transform: uppercase;
	}	
}


/* ==========================================================================
   Article Section
   ========================================================================== */

article.entry-content{

    border: 20px solid #f5f5f6;
    padding: 10% 0%;
	
	h4 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 18px;
	}

	.h5 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 15px !important;
	  letter-spacing: 1px;
	}


	p {
      font-family: 'Abhaya Libre', serif;
		line-height: 1.5;
		margin: 30px 0;
        color: #858686;
		font-size: 17px;
		a {
			text-decoration: underline;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
      font-family: 'Abhaya Libre', serif;
		font-weight: 800;
	}

	a {
      font-family: 'Abhaya Libre', serif;
		color: $gray-dark;
		@include transition-all;
		&:hover,
		&:focus {
			color: $mint-color;
		}
	}

	a img {
		&:hover,
		&:focus {
			cursor: zoom-in;
		}
	}
	blockquote {
      font-family: 'Abhaya Libre', serif;
	  font-style: italic;
	  color: #858686;
		padding: .5rem 1rem;
		margin-bottom: 1rem;
		font-size: 18px;
		border-left: .25rem solid #eceeef;
	}	
	ul li {
      font-family: 'Abhaya Libre', serif;
	  font-size: 15px;
	  font-weight: 300;
	  color: #868585 !important;
	  letter-spacing: 1px;
	}	
}	

/* ------------------------------------------------------------------- */
/* Banner Comment Section
---------------------------------------------------------------------- */
   
.banner-comment {
  width: 100%;
  height: 65vh;
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/blog/10.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: 100% 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0 30px;
  
	 h1 {
	  font-family: 'Montserrat', sans-serif;
	  font-weight: $font-weight-bold;
	  color: #fff;
	  letter-spacing: 1px;
	}  
} 

@media only screen and (max-width: 768px){	  
    .banner-comment h1 {
     font-size: 24px;
    }			
}
@media only screen and (max-width: 420px){
    .banner-comment h2 {
     font-size: 20px;
    } 
}

/* ==========================================================================
   Article Section 2
   ========================================================================== */
   
article.entry-content-2{

    border: 20px solid #f5f5f6;
    padding: 4% 0%;
	
	h4 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 18px;
	}

	.h5 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 15px !important;
	  letter-spacing: 1px;
	}


	p {
      font-family: 'Abhaya Libre', serif;
		line-height: 1.5;
		margin: 30px 0;
        color: #858686;
		font-size: 17px;
		a {
			text-decoration: underline;
		}
	}


	a {
      font-family: 'Abhaya Libre', serif;
		color: $gray-dark;
		@include transition-all;
		&:hover,
		&:focus {
			color: $mint-color;
		}
	}

	a img {
		&:hover,
		&:focus {
			cursor: zoom-in;
		}
	}
	blockquote {
      font-family: 'Abhaya Libre', serif;
	  font-style: italic;
	  color: #858686;
		padding: .5rem 1rem;
		margin-bottom: 1rem;
		font-size: 18px;
		border-left: .25rem solid #eceeef;
	}	
	ul li {
      font-family: 'Abhaya Libre', serif;
	  font-size: 15px;
	  font-weight: 300;
	  color: #868585 !important;
	  letter-spacing: 1px;
	}	
}
@media only screen and (max-width: 768px) {
    article.entry-content{
	
		h4 {
		padding-top: 40px !important;
		}
	}	
	p {
		margin-bottom: 0px !important;
	}	
}

/* ==========================================================================
   Post comments section
   ========================================================================== */
   
.post-comments{
  background: #f5f5f6 !important; 
  padding-top: 10px;

	.comments-list-notification{
		background-color: #fff;
		padding: 5px 8px;
		margin-bottom: 10px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		
		h4{
	     font-family: 'Montserrat', sans-serif;
	     font-weight: 700;
		 font-size: 14px;
		 text-align: center;
		}
	}  
  
	.comments-list{
		background-color: #fff;
		padding: 25px 30px;
		margin-bottom: 25px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	}
	.comments-list-title{
      font-family: 'Abhaya Libre', serif;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 30px;
		text-align: center;
	}
	.comments .comment {
		list-style: none;
		margin-top: 30px;
	}
	.comment-body {
		overflow: hidden;
	}
	.author-avatar {
		width: 100px;
		height: 100px;
		float: left;
	}
	.comment-content {
		overflow: hidden;
		padding-left: 20px;
	}
	.author-name {
		text-transform: uppercase;
        font-family: 'Abhaya Libre', serif;
		font-size: 16px;
		font-weight: $font-weight-bold;
		color: $mint-color;
		margin-right: 15px;
	}  
	.author-time {
        font-family: 'Abhaya Libre', serif;
		font-size: 13px;
		font-weight: $font-weight-light;
		color: #858686;
	}	
	p {
        font-family: 'Abhaya Libre', serif;
		line-height: 1.5;
		margin: 10px 0;
        color: #858686;
		font-size: 17px;
	}	
	a.comment-reply-link {
      font-family: 'Abhaya Libre', serif;
		color: $gray-dark;
		@include transition-all;
	}

	a.comment-reply-link:hover,
	a.comment-reply-link:focus {
	        text-decoration: none;
			color: $mint-color;
		}	
		
	/* Styling for the contactform */
	#contactform {
	  display: block;
	  width: 100%;
	  text-align: left;
	}

	#contactform label {
	  position: relative;
	  z-index: 13;
	  padding-left: 10px;
	  color: #2C3E50;
	}

	#contactform label {
	  line-height: 50px;
	}

	#contactform textarea{
	  display: block;
	  position: relative;
	  overflow: hidden;
	  min-height: 50px;
	  margin-top: -50px;
	  line-height: 50px;
	  font-size: 1em;
	  padding-left: 30px;
	  padding-right: 10px;
	  width: 100%;
	  color: #666666;
	  background: #ffffff;
	  border: 2px solid #eeeeee;
	}

	#contactform textarea {
	  line-height: 25px;
	  width: 100%;
	  min-height: 120px;
	}

	#contactform input.input-verify {
	  padding-left: 55px;
	}

	#contactform input:focus,
	#contactform textarea:focus,
	#contactform select:focus {
	  border: 2px solid #25E6B1;
	  background-color: #ffffff;
	  color: #1a1a1a;
	}		
}
