
/* ==========================================================================
   Header
   ========================================================================== */
header.masthead {
    margin-bottom: 50px;
	background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/blog/5.jpg') no-repeat center center;
    background-color: $gray-light;
    background-attachment: scroll;
    @include background-cover;
	
	
    .post-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 150px 0;
        }
    }
    .post-heading {
        h1 {
		  font-family: 'Montserrat', sans-serif;
		  font-weight: $font-weight-bold;
		  text-align: center;
		  color: #fff;
		  letter-spacing: 1px;
          font-size: 55px;
        }
        @media only screen and (max-width: 768px) {
            h1 {
                font-size: 25px;
            }
        }
    }
}


/* ==========================================================================
   Article Section
   ========================================================================== */

body.greybg {
  overflow-x: hidden;
  background-color:#EEEEEE;
}

article{

	.white-blogpage {
	  padding: 30px 20px 30px;
	}
	.white-blogpage{
	  position: relative;
	  display: block;
	  max-width: 100%;
	  margin-top: -110px;
	  margin-right: auto;
	  margin-left: auto;
	  border-radius: 4px;
	  background-color: #fff;
	  box-shadow: 0 0 0 1 rgba(0, 0, 0, 0.6);
	}	
	
	.post-top-sec{
	  padding: 10px 0 0px 0;
	}	
	
	h4 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 18px;
	}

	.post-top-sec h5 {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
	  color: $gray;
	  font-size: 15px !important;
	  letter-spacing: 1px;
	}

	.post-top-sec .small-hr {
	  margin:8px auto;
	  border-bottom: 1px solid #FDFDFD;
	  width: 100%;
	}	

	.post-top-sec p {
      font-family: 'Abhaya Libre', serif;
	  font-weight: 700;
        color: #858686;
	  font-size: 12px !important;
	  letter-spacing: 1px;
	}

	p {
      font-family: 'Abhaya Libre', serif;
		line-height: 1.5;
		margin: 30px 0;
        color: #858686;
		font-size: 17px;
		a {
			text-decoration: underline;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
      font-family: 'Abhaya Libre', serif;
		font-weight: 800;
	}

	a {
      font-family: 'Abhaya Libre', serif;
		color: $gray-dark;
		@include transition-all;
		&:hover,
		&:focus {
			color: $mint-color;
		}
	}

	a img {
		&:hover,
		&:focus {
			cursor: zoom-in;
		}
	}
	blockquote {
      font-family: 'Abhaya Libre', serif;
	  font-style: italic;
	  color: #858686;
	  letter-spacing: 1px;
		padding: .5rem 1rem;
		margin-bottom: 1rem;
		font-size: 16px;
		border-left: .25rem solid #eceeef;
	}	
	ul li {
      font-family: 'Abhaya Libre', serif;
	  font-size: 15px;
	  font-weight: 300;
	  color: #868585 !important;
	  letter-spacing: 1px;
	}	
}	