/* ==========================================================================
   Header
   ========================================================================== */

.profile-bg-picture {
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/blog/13.jpg') no-repeat center center fixed;
  background-position: center center;
    @include background-cover;
    background-attachment: scroll;
  color: #fff;
  height: 55vh;
  
  display: flex;
  align-items: center;
  justify-content: center;  
}

/* ==========================================================================
   user-section
   ========================================================================== */
.user-section{

	.profile-user-box {
		background-color: #ffffff;
		padding: 20px;
		border: 1px solid #e2e2e2;
		position: relative;
		top: -50px;
		border-radius: 5px;
		align-self: flex-end;
	}
	.m-r-15 {
		margin-right: 15px !important;
	}
	.pull-left {
		float: left !important;
	}
	.thumb-lg {
		height: 88px;
		width: 88px;
	}
	.media-body, .media-left, .media-right {
		display: table-cell;
		vertical-align: top;
	}
	.media-body {
		width: 10000px;
	}
	.media-body h4{
        font-family: 'Abhaya Libre', serif;
		font-size: 23px !important;
		color: $mint-color;
		.m-b-5 {
			margin-bottom: 5px !important;
		}
		.m-t-5 {
			margin-top: 5px !important;
		}
	}
	.media-body p {
			font-family: 'Abhaya Libre', serif;
		.font-13 {
			font-size: 14px !important;
		}
		.text-muted {
			color: #98a6ad !important;
			font-size: 14px !important;
		}	
	}
	.m-b-0 {
		margin-bottom: 0 !important;
	}
	.btn-success {
        font-family: 'Abhaya Libre', serif;
		font-size: 14px !important;
		background-color: $mint-color !important;
		border: 1px solid $mint-color !important;
	}
	.m-r-5 {
		margin-right: 5px !important;
	}

}   



/* ==========================================================================
   Table Section
   ========================================================================== */

.tbl {
    display: table;
    width: 90%;
	position: relative;
	left: 10px;
    border-collapse: collapse;
	background: #fff;
	margin-bottom: 15px;
	box-shadow: 0 1px 3px rgba(49, 58, 70, 0.2);
	
	.tbl-row {
		display: table-row;
	}
	.tbl-cell:first-child {
		border-left: none;
	}
	.tbl-cell {
		vertical-align: middle;
		border-left: solid 1px #d8e2e7;
		padding: 12px 10px;
	}
	.tbl-cell {
        font-family: 'Abhaya Libre', serif;
		font-size: 14px !important;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.number {
		display: block;
		font-weight: 600;
		font-size: 1rem;
	}	
}

/* ==========================================================================
   About User Section
   ========================================================================== */
.about-user{

	.card-title{
        font-family: 'Abhaya Libre', serif;
		font-size: 16px !important;
	}

}
