.nav-tabs .nav-link{
	font-family: 'Abhaya Libre', serif;
	font-size: 16px;
}

/* ==========================================================================
   User Section
   ========================================================================== */
   
.following {

	.card-box {
		padding: 20px;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		background-clip: padding-box;
		margin-bottom: 20px;
		background-color: #ffffff;
	}
	.widget-user img {
		height: 72px;
		float: left;
	}
	.widget-user .wid-u-info {
		margin-left: 90px;
	}
	.widget-user .wid-u-info p, .widget-user .wid-u-info h4 {
		white-space: nowrap;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.widget-user .wid-u-info h4 {
      font-family: 'Abhaya Libre', serif;
	  font-size: 16px;
	  color: $mint-color;
	}
	.widget-user .wid-u-info p {
      font-family: 'Abhaya Libre', serif;
	  font-size: 14px;
	}
	.widget-user .wid-u-info small {
      font-family: 'Abhaya Libre', serif;
	  font-size: 16px;
	}	
	.font-600 {
		font-weight: 600;
	}
	.m-b-5 {
		margin-bottom: 5px !important;
	}
	.m-t-0 {
		margin-top: 0px !important;
	}
	.text-muted {
		color: #98a6ad !important;
	}
	.font-13 {
		font-size: 13px !important;
	}
	b {
		font-weight: 600;
	}


}
