.bottom-footer {
    background: #111111;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 100%;
	
	p {
		font-family: 'Abhaya Libre', serif;
		color: #525252;
		float: left;
		font-size: 13px;
		font-weight: 800;
		letter-spacing: 0.4px;
		margin: 0;
	}
	ul {
		float: right;
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	ul li {
		font-family: 'Abhaya Libre', serif;
		color: #6b6b6b;
		float: left;
		margin: 2px 5px;
		font-family: lato;
	}
	ul li a {
		font-family: 'Abhaya Libre', serif;
		color: #6b6b6b;
		font-size: 14px;
		float: left;
		padding: 2px 5px;
	}	
	ul li a:hover {
		color: #fff;
	}	
	
}

#scrollup {
  background: url("../img/arrow.png") no-repeat 0px 0px;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  cursor: pointer;
}

/* ------------------ */
/* More Section
--------------------- */

.more {
  padding: 70px;
  text-align: center;
}

.kafe-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.4;
  cursor: pointer;
  background-image: none;
 
  border-radius: 4px;
 
  khtml-user-select: none;
  webkit-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
 
}

.kafe-btn-default{
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  color: $mint-color;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  border: 1px solid $mint-color;
  margin-top: 10px;
  padding: 13px 31px;
}

.kafe-btn-default:hover {
  background-color: $mint-color;
  color: #fff !important;
  text-decoration: none;
}

.kafe-btn-mint{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;

  margin-top: 23px;
  padding: 13px 31px;
  color: #fff;
  background: #05cb95; 
  letter-spacing: 1px; 
}

.kafe-btn-mint:hover {
  color: #fff !important;
  background: #0de5ab; 
  text-decoration: none;
}

.full-width{
  width: 100%;
}

@media only screen and (max-width: 767px){
    /* Footer Section Media Queries */
	.bottom-footer p{
     text-align: center !important;
	 float: center !important;
    }
	#scrollup {
	width: 50px;
	height: 30px;
    }
}
