div.blog-row{
    padding-top: 15px;
	
	.blog-col {
		padding-bottom: 15px;
	}	
	.blog-relative{
		position: relative;
	}	
	.blog-hover .blog-image {
		position: relative;
		overflow: hidden;
	}	
	.blog-col .blog-image {
		margin-bottom: 30px;
	}	
	.blog-vgradient-black-lg::before, .blog-vgradient-black-sm::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		z-index: 1;
	}
	.blog-hover .blog-image .blog-img{
	  height: 320px;
	  width: 750px;
	}
	.blog-hover .blog-image * {
		position: inherit;
		-webkit-transition: transform .6s;
		-moz-transition: transform .6s;
		-o-transition: transform .6s;
		-ms-transition: transform .6s;
		-khtml-transition: transform .6s;
		transition: transform .6s;
		z-index: 2;
	}	
	.blog-col .blog-content {
	  background: linear-gradient(
		  rgba(34,34,34,0.55), 
		  rgba(34,34,34,0.55)
		) !important;
		padding: 10px 20px;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 14px;
		z-index: 2;
	}
	.blog-col .blog-content .blog-user {
       font-family: 'Abhaya Libre', serif;
	   font-size: 14px;
	   color: #dae2e8;
	   margin: 0;
	   
		em{
		 position: relative;
		 top: -10px;
		}
	}
	a h5{
	  padding-top: 4px;
      font-family: 'Montserrat', sans-serif;
	  font-size: 16px;
	  font-weight: $font-weight-bold;
	  color: #fff;
	}	
	
	.blog-content a:hover{
	  text-decoration: none;
	}
	.blog-col .blog-content .blog-detail{
		margin-bottom: 0;
	}
	.blog-col .blog-content .blog-detail .blog-detail-text {
		padding-right: 10px;
       font-family: 'Abhaya Libre', serif;
	   font-size: 14px;
		color: #fff;
	}	
	.blog-col .blog-content .blog-detail .blog-detail-text i{
		color: #fff;
		margin-right: 5px;
	}	
	
}




	/* animations */
	.blog-hover {
		.blog-image {
			position: relative;
			overflow: hidden !important;

			* {
				position: inherit;
				-webkit-transition: transform .6s;
-moz-transition: transform .6s;
-o-transition: transform .6s;
-ms-transition: transform .6s;
-khtml-transition: transform .6s;
transition: transform .6s;
				z-index: 2;
			}

			img {
				z-index: 0;
			}
		}
		/* Hover effects */
		&.blog-hover:hover {
			/* scale effect */
			&.blog-hover-scale {
				.blog-image {
					img {
						@include scale(1.2, 1.2);
			            overflow: hidden !important;
					}
				}
			}		
		}
	}