/* ------------------------------------------------------------------- */
/* Page - Index 2
---------------------------------------------------------------------- */
   
.posts-2 {
  width: 100%;
  background: #f2f2f2;
  padding-top: 50px; 
  padding-bottom: 30px; 
} 

.posts-2  h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #858686;
}

//Cards

.card{
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px !important;
  box-shadow: 0 1px 5px rgba(49, 58, 70, 0.4);
  
  .card-title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   letter-spacing: 0px;
	color: $mint-color  !important;
   font-size: 16px;
   line-height: 1 !important;
  }
  
  .card-title a:hover{
	  color: #858686 !important;
  }  
  
  .card-text{
      font-family: 'Abhaya Libre', serif;
	  color: #858686 !important;
  }
  .card-text a{
	  color: $mint-color  !important;
  }  
  
   a{
    text-decoration: none !important;
	color: inherit;
   }
    
	hr {
	  padding-top: 0px !important;
	  margin-top: 0px !important;
	  height: 1px;
	  background: #eee;
	}  
   
   .card-footer{
    background-color: #fff !important;
	border-top: none !important;
   }
    .card-footer div.col-sm-6{
	 margin: 0 !important;
	 padding: 0 !important;
   }  
	.author-2 img{
	  width: 25px;
	  height: 25px;
	}  	
	.author-2 span{
	 position: relative;
	 top: -10px;
	}
	ul.bottom_data, ul.author-2{
	  margin-bottom: 0px;
	  list-style: none;
	  padding: 0px;
	}
	ul.bottom_data{
	  position: relative;
	  top: 8px;
	}	

	ul.bottom_data li:first-child{
	  padding-left: 0px;
	  border-right: none;
	}

	ul.bottom_data li{
      font-family: 'Abhaya Libre', serif;
	  color: #858686 !important;
	  display: block;
	  font-size: 14px;
	  margin-bottom: 0px !important;
	  font-weight: normal;
	  line-height: 1;
	  float: left;
	  padding: 0px 8px;
	}
	
	ul.author-2 li{
      font-family: 'Abhaya Libre', serif;
	  color: $mint-color  !important;
	  display: block;
	  font-size: 14px;
	  margin-bottom: 15px !important;
	  font-weight: normal;
	  line-height: 1;
	  float: left;
	  padding: 0px 5px;
	}	

	ul.bottom_data li .fa{
	  margin-right: 3px !important;
	}

	ul.bottom_data li:last-child{
	  padding-right: 0px;
	  border-right: none;
	}	
	br.break{
	 opacity: 0 !important;
	}
}

@media only screen and (max-width: 768px){
	.card-footer .author-2,
    .card-footer .bottom_data.pull-right{
     text-align:center !important;
    }
	ul.bottom_data li{
	  font-family: 'Varela Round', sans-serif;
	  display: block;
	  font-size: 12px;
	  margin-bottom: 0px !important;
	  font-weight: normal;
	  line-height: 1;
	  float: left;
	  padding: 0px 8px;
	}	
}