@mixin transition-all() {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// ============================================================
// generate CSS property with prefix for cross-browsing
//
// $property: CSS property name, for example, border-radius
// $val:	 CSS value string, for example, 10px, 45deg, .5, #fff
// ============================================================
@mixin cross($property, $val...) {
	-webkit-#{$property}: #{$val}; 	// Chrome 10-25, Safari 5.1-6
	-moz-#{$property}: #{$val}; 		// FF3.6-15, Netscape
	-o-#{$property}: #{$val}; 			// Opera
	-ms-#{$property}: #{$val}; 			// IE 9.x and over
	-khtml-#{$property}: #{$val}; 	// Safari 1.x
	#{$property}: #{$val};					// Good browsers: W3C, IE10+, FF16+, Chrome 26+, Opera 12+, Safari 7+
}

// ============================================================
// transform - scale
// 
// $x: x axis value to scale, for example, 2
// $y: y axis value to scale, for example, 2
// $z: z axis value to scale, for example, 2
@mixin scale($x: 1, $y: 1, $z: 1) {
	@if $z == 1 {
		// 2D scale if $z is empty
		@include transform(scale($x, $y));
	} @else {
		// 3D scale
		@include transform(scale3d($x, $y, $z));
	}
}

// ============================================================
// transform
//
// $transforms: transform strings, for example, rotate(45deg) translate(20px, 20px) scale(.6, .7)
// ============================================================
@mixin transform($transforms...) {
	@include cross(transform, $transforms);
}
