//Base Styles
a {
  cursor: pointer;
  outline: 0;
}

/* ==========================================================================
   Search Section Start
   ========================================================================== */
   
#mainNav{

    font-family: 'Montserrat', sans-serif;
    font-weight: $font-weight-bold;
    border: none;
    background: $mint-color !important;
	font-size: $font-size-base;
	
	/* ================================
	   Top Search
	   ================================ */
	.top_search{
	  height: 33px;
	  position: relative;
	}
	.top_search .top_search_con {
	  background: #fff;
	  height: 30px;
	  border: 1px solid #E4E4E4 !important;
	  border-radius: 50px;
	  width: 100%;
	}
	.top_search .top_search_con input[type="text"]{
	  background: none !important;
	  border: medium none;
	  height: 100%;
	  width: 130px !important;
	  padding: 1px 20px 0 40px;
	  color: #818B8D !important;
	  font-size: $font-size-base !important;
      font-weight: $font-weight-bold;
	  outline: none;
	  transition: .5s ease-out;
	}
	.top_search .top_search_con input[type="text"]:focus {
	  background: none !important;
	  border: medium none;
	  height: 100%;
	  width: 200px !important;
	  padding: 1px 20px 0 40px;
	  color: #818B8D !important;
	  font-size: $font-size-base;
	  outline: none;
	}
	.top_search .top_search_icon {
	  color: $mint-color !important;
	  font-size: $font-size-large;
	  left: 15px;
	  position: absolute;
	  top: 4px;
	}
	.top_search .top_search_submit {
	  border: medium none;
	  padding: 0;
	  position: absolute;
	  width: 20px;
	  left: 12px;
	  opacity: 0;
	  top: 9px;
	}
	
	.nav-item a.nav-link{
      text-transform: uppercase;
		 
			&:hover,
			&:focus,
			&:active,
			&.active {
			  color: #fff !important;
			}	
	}
	
	/* ================================
	   Mega Dropdown
	   ================================ */
	.mega-menu {
	    .nav-link{
		 color: #fff;
		 
			&:hover,
			&:focus,
			&:active,
			&.active {
			  color: #fff !important;
			}		 
		} 
		.text-muted {
		  color: $gray-light !important;
		}		
    }	
	.mega-menu.dropdown {
	  position: static;
	  color: #fff;
	}
	.mega-menu .dropdown-menu-yamm {
	  left: auto;
	  padding: 0;
	  width: 70%;
	  z-index: 1000 !important;
	}
	.mega-menu.dropdown-menu {
	  z-index: 1000 !important;
	  padding: 4px 0;
	  box-shadow: 0 1px 3px rgba(49, 58, 70, 0.2);
	  border: 1px solid rgba(152, 166, 173, 0.15);
	}
	.mega-menu.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000 !important;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: $font-size-h6 !important;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	.mega-menu .yamm-content {
		padding: 20px;
	}
	.m-t-0 {
		margin-top: 0 !important;
	}
	.mega-menu h5 {
	  font-size: font-size-blockquote;
      letter-spacing: 0.1em;
	  color: $mint-title;
	  margin: 10px 0;
	  font-weight: $font-weight-bold;
	}
	.font-13 {
	  font-size: 13px !important;
	}
	.mega-menu p {
      font-family: 'Abhaya Libre', serif;
	  font-size: 16px !important;
      letter-spacing: 0.1em;
	  font-weight: $font-weight-light;
	}
	.list-unstyled {
	  list-style: none;
	}
	.megamenu-list li a{
	  display: block;
      font-family: 'Abhaya Libre', serif;
	  color: #858686 !important;
	  font-size: 16px;
	  font-weight: $font-weight-light !important;
      letter-spacing: 0.06em;
	  padding-top: 5px;
	  text-decoration: none;	
	}
	.megamenu-list li a:hover {
	  color: $mint-color !important;
	  text-decoration: none;
	}
	.megamenu-list li a i {
		width: 20px;
		font-size: 16px;
	}


	@media(max-width:767px) {

		.mega-menu.dropdown-menu {
			z-index: 0 !important;
		}
	}	
	
	/* ================================
	   Mega Pills Dropdown
	   ================================ */
	.mega-pills{
	    .nav-link i{
		  color: #fff;
		}
	
		.label.up {    
			display: inline-block;
			text-align: center;
			position: relative;
			top: -10px;
			min-width: 4px;
			min-height: 4px;
		}	
		.p-a-0 {
		  padding: 0 0 !important;
		}
	
		.accent {
			color: rgba(255,255,255,.87);
			background-color: #a88add !important;
		}
		.warn {
			background-color: #fcc100;
		}
		.w-xl {
			width: 320px;
		  position: absolute;
		  top: 118% !important;
		}
		.text-color {
			color: rgba(0,0,0,.87);
		}
		.row.no-gutter {
			margin-left: 0;
			margin-right: 0;
		}
		.row.no-gutter [class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
		.b-b {
			border-bottom: 1px solid rgba(120,130,140,.13);
		}
		.b-r {
			border-right: 1px solid rgba(120,130,140,.13);
		}
		.p-a {
			padding: 1.5rem !important;
		}
		.block {
			display: block;
		}
		.no-gutter .col-xs-4 {
			float: left;
			width: 33.333333%;
		}
		.no-gutter a{
          font-family: 'Abhaya Libre', serif;
		  font-size: 13px;
		  color: $gray-light !important;
		}	
		.no-gutter a:hover{
		  color: $mint-color !important;
		}		
	
	}   
	
	/* ================================
	   Notification
	   ================================ */
	.mega-notification{
	    .nav-link i{
		  color: #fff;
		}
		.danger {
			color: rgba(255,255,255,.87);
			background-color: #ef193c !important;
		}
		.label.up {    
			display: inline-block;
			text-align: center;
			position: relative;
			top: -10px;
			min-width: 4px;
			min-height: 4px;
		}
		.p-a-0 {
			padding: 0 0 !important;
		}
		.pull-right {
			float: right;
		}
		.no-bg {
			background: 0 0 !important;
		}
		.no-shadow {
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		.w-xl {
			width: 320px;
		  position: absolute;
		  top: 118% !important;
		}
		.no-border {
			border-color: transparent;
			border-width: 0;
		}
		div.dropdown-menu{
		  left: 10px;
		  z-index: 1000;
		  min-width: 160px;
		  padding: 5px 0;
		  margin: 2px 0 0;
		  font-size: 1rem;
		  color: #373a3c;
		  text-align: left;
		  list-style: none;
		  background-color: #fff;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  border: 1px solid rgba(0,0,0,.15);
		  border-radius: .25rem;
		}		
		.dropdown-menu.pull-right {
			left: auto;
			right: 0;
			-webkit-transform-origin: top right;
			-moz-transform-origin: top right;
			-ms-transform-origin: top right;
			transform-origin: top right;
		}
		.scrollable {
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
		.dropdown-menu .list-group-item{
			font-size: .875rem;
			color: $gray !important;
			font-weight: $font-weight-light;
		}
		.list-group.list-group-gap {
			background: 0 0;
		}
		.list-group {
			border-radius: 3px;
			background: #fff;
		}
		.m-a-0 {
			margin: 0 0 !important;
		}
		.list-group {
			padding-left: 0;
			margin-bottom: 0;
		}
		.list-group-gap .list-group-item:first-child {
			border-top-color: rgba(120,130,140,.065);
		}
		.list-group-gap .list-group-item {
			margin-bottom: 5px;
			border-radius: 3px;
		}
		.b {
			border-color: rgba(120,130,140,.13);
			background-clip: padding-box;
		}
		.dark-white, .white {
			background-color: #fff;
		}
		.m-r {
			margin-right: 1rem;
		}
		.pull-left {
			float: left;
		}
		.w-40 {
			width: 40px !important;
			height: 40px !important;
			text-align: center;
		}
		.text-primary, .text-primary-hover .active > a, .text-primary-hover a:hover {
			color: $mint-color !important;
		}	
	
    }
	
	/* ================================
	   Avatar
	   ================================ */
	.mega-avatar{	
	    .nav-link span{
		  color: #fff !important;
		}
		.avatar {
			display: inline-block !important;
		}
		.w-32 {
			width: 32px;
			height: 32px;
			text-align: center;
		}
		.avatar {
			position: relative;
			vertical-align: middle;
			line-height: 1;
			font-weight: 700;   
			border-radius: 500px;
		}
		.avatar img {
		}
		.mini{
		  position: absolute;
		  top: 4px;
		  left: 37px;
		  border-radius: 50%;
		  width: 7px;
		  height: 7px;
		  background-color: #28bebd !important;
		  font-size: 24px;
		  line-height: 2em;
		  border: 1px solid #fff;
		}

		@media(min-width:767px) {
			.mini {
				position: absolute;
				top: 4px;
			}
		}
		.w {
		  width: 200px;
		  position: absolute;
		  top: 118% !important;
		}	
		.w a{
		  font-size: 12px !important;
		  color: $gray !important;
		  font-weight: $font-weight-light;
		}		
	}
	
	

}


/* ==========================================================================
   Dropdown Menu
   ========================================================================== */

.dropdown-toggle::after {
  color: #fff;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}
.dropdown-menu.pull-right {
  left: auto;
  right: 0;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.mega-pills > li.dropdown-menu, .mega-notification > div.dropdown-menu, .mega-avatar > li.dropdown-menu{
  left: 0;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
@media(max-width:767px) {
	.dropdown-menu.pull-right {
	  position: relative;
	  left: -10px !important;
	}	
	.w-xl {
      width: 300px !important;
	}	
	.list-group-gap .list-group-item:first-child {
		border-top-color: 0px rgba(120,130,140,.065);
	}
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.dropdown-item:hover{
  background: #eee;
}


/* ==========================================================================
   Site Branding
   ========================================================================== */
.site-branding {
    padding: 2rem 0rem;
    text-align: center;
    position: relative;
    background: #fff;
	
	.site-title {
      font-family: 'Montserrat', sans-serif;
	  letter-spacing: 1.5px;
	  margin-bottom: 0px;
	  font-size: 1.9rem !important;
	  font-weight: 600;
	  line-height: 1;
	  color: #d65456 !important;
		
		a {
		  color: #d65456 !important;
		  text-decoration: none;
		}
		
		a:hover {
		  color: $mint-color !important;
		  text-decoration: none;
		  transition: $transition-ease-05;
		}
	}
	.site-description {
      font-family: 'Abhaya Libre', serif;
	  color: $mint-title !important;
	  font-size: 0.6875rem;
	  letter-spacing: 1.5px;
	  margin: 10px 0 0 0px;
	  text-transform: uppercase;
	}	
}




