/* ==========================================================================
   Widget User
   ========================================================================== */
   
.widget-info-one {

	.widget-avatar-img img {
		display: block;
		width: 100%;
		height: 200px;
		border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
	}
	.inner {
		padding: 15px 10px 5px 10px;
	}	
	.widget-avatar, .widget-avatar img{
		border-radius: 50%;
		-webkit-border-radius: 50%;
		display: block;
		height: 53px;
		width: 53px;
		margin-right: 4px;
	}
	h5 {
      font-family: 'Abhaya Libre', serif;
		color: #65CEA7;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	.subtitle {
		display: block;
        font-family: 'Abhaya Libre', serif;
		font-size: 15px;
	}
	.card-footer {
		background: #65CEA7 !important;
		border: none;
		color: #fff;
		padding: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		box-shadow: none;
		height: 60px;
	}
	ul.post-view {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 100%;
	}
	ul.post-view li {
        font-family: 'Abhaya Libre', serif;
		font-size: 15px;
		text-align: center;
		padding: 20px;
		width: 33.33%;
		float: left;
	}
	ul.post-view li a {
		text-decoration: none;
	}
	ul.post-view li a i {
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		padding-right: 5px;
	}	
}

/* ==========================================================================
   Widget User Details
   ========================================================================== */
.widget-info-two{
    
	ul.list-group li{
        font-family: 'Abhaya Libre', serif;
		font-size: 15px;
	}

}   

/* ==========================================================================
   Post Area
   ========================================================================== */

.box{
    background-color: #fff;
    position: relative;
    margin-bottom: 1.5rem;

	.no-border {
        font-family: 'Abhaya Libre', serif;
		border-color: transparent;
		border-width: 0;
	}
	.box-footer{
		padding: 1rem;
	}
	.btn-info {
        font-family: 'Abhaya Libre', serif;
		color: #fff;
		background-color: $mint-color !important;
		border-color: $mint-color !important;
	}
	.nav-sm .nav-link {
		padding: .25rem .75rem;
	}	
}


/* ==========================================================================
   People you may know
   ========================================================================== */

.box-typical {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    border: solid 1px #d8e2e7;
    margin: 0 0 20px;
	height: 280px;
	
	.box-typical-header-sm {
        font-family: 'Abhaya Libre', serif;
		font-size: 15px;
		color: $gray-light !important;
		padding: 12px 15px;
		font-weight: 600;
		position: relative;
	}
	.people-rel-list {
		padding: 0 0 20px;
	}
	.people-rel-list .people-rel-list-photos {
		padding: 0 5px 12px 15px;
		zoom: 1;
	}
	.people-rel-list ul.people-rel-list-photos {
		list-style: none;
	}
	.people-rel-list .people-rel-list-photos li {
		float: left;
		margin: 0 10px 10px 0;
	}
	.people-rel-list .people-rel-list-photos img {
		display: block;
		width: 46px;
		height: 46px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.people-rel-list .site-header-search {
		width: auto;
		margin: 0 15px;
		height: 34px;
		padding: 2px 0 0;
	}
	.site-header-search input[type="text"] {
        font-family: 'Abhaya Libre', serif;
		width: 100%;
		padding: 4px 0 0 14px;
		border: none;
		background: 0 0;
		font-size: .875rem;
		font-weight: 600;
		color: #343434;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.people-rel-list .site-header-search button {
		line-height: 32px;
	}
	.site-header-search button {
		display: block;
		position: relative;
		right: -180px;
		top: -25px;
		width: 35px;
		height: 100%;
		line-height: 30px;
		text-align: center;
		color: #adb7be;
		border: none;
		background: 0 0;
		font-size: .9375rem;
	}	
}
/* ==========================================================================
   Feeds
   ========================================================================== */
   
.feed .tr-post .entry-header img {
	width: 100%;
	height: 300px;
}