/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */

header.profile-3 {
    // NOTE: Background images are set within the HTML using inline CSS!
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/blog/13.jpg') no-repeat center center fixed;
  background-position: center center;
    @include background-cover;
    background-attachment: scroll;
  color: #fff;
  height: 65vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

    .content{
        max-width: 450px;
        margin: 0 auto;

        .social-description{
            display: inline-block;
            max-width: 150px;
            width: 145px;
            text-align: center;
            margin: 15px 0 0px;

            i{
                margin-bottom: 15px;
            }

            h2{
                font-family: 'Abhaya Libre', serif;
			  color: #fff;
                margin-bottom: 15px;
            }

			p {
              font-family: 'Abhaya Libre', serif;
			  color: #fff;
			  font-size: 16px;
			  text-align: center;
			  letter-spacing: 1px;
			} 
        }
    }	
  
}

/* ==========================================================================
   Header Avatar Section
   ========================================================================== */
.header-avatar {
    margin-bottom: -110px;
    position: relative;
    top: -40px;
    text-align: center;
	
	img {
		border: 7px solid #f5f5f6;
		border-radius: 50%;
		float: none;
		height: 80px;
		width: 80px;
	}
	p {
		color: #adaeb3;
        font-family: 'Abhaya Libre', serif;
		font-size: 16px;
		font-weight: $font-weight-bold;
		letter-spacing: 1px;
		margin-bottom: 0;
		text-transform: uppercase;
	}	
}


/* ==========================================================================
   Entry Content Section
   ========================================================================== */
.entry-content {
    border: 20px solid #f5f5f6;
    padding: 5% 0%;
	
	.title{
        font-family: 'Abhaya Libre', serif;
		font-size: 24px !important;
	}
	
	.description{
        font-family: 'Abhaya Libre', serif;
		font-size: 17px !important;
        color: $gray-light;
	}
}

@media only screen and (max-width: 768px) {
	header.profile-3 {
	  height: 105vh;
	  
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	}
    .entry-content{
	
		h3 {
		padding-top: 40px !important;
		}
	}	
	p {
		margin-bottom: 0px !important;
	}	
}