// Variables

// Gray and Brand Colors for use across theme

$mint-color:    #1AB394;
$heavy-mint-color:    #16a085;
$mint-red-color: #DB1A40;
$mint-title: #666f7b;

$gray-base:        #000 !default;
$gray-darker:	   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:		   lighten($gray-base, 20%) !default;   // #333
$gray:			   lighten($gray-base, 33.5%) !default; // #555
$gray-light:	   lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:	   lighten($gray-base, 93.5%) !default; // #eee


/*      font size         */

$font-size-h1:                 3.5em        !default; // ~ 49px
$font-size-h2:                 2.5em        !default; // ~ 35px
$font-size-h3:                 2em          !default; // ~ 28px
$font-size-h4:                 1.714em      !default; // ~ 24px
$font-size-h5:                 1.57em       !default; // ~ 22px
$font-size-h6:                 1em          !default; // ~ 14px

$font-paragraph:               1em          !default;
$font-size-navbar:             1em          !default;
$font-size-mini:               0.7142em     !default;
$font-size-small:              0.8571em     !default;
$font-size-base:               12px         !default;
$font-size-large:              1em          !default;
$font-size-large-navbar:       20px         !default;
$font-size-blockquote:         1.1em        !default; // ~ 15px

//===== font-weight =====//
$font-weight-thin:							100;
$font-weight-extralight:				200;
$font-weight-light:							300;
$font-weight-regular:						400;
$font-weight-medium:						500;
$font-weight-semibold:					600;
$font-weight-bold:							700;
$font-weight-extrabold:					800;
$font-weight-black:							900;

//===== default line height ======//
$line-height-base:			 				1.2;
$line-height-content:			 			2.0;


/* transition */
$transition-ease:           ease 0s;
$transition-ease-05:           05s ease;